.block-quote {
    font-family: "ltc-bodoni-175";
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 42px 10% 0;
}

h3.block-quote {
    padding-top: 10px;
}

.block-quote--mid-page {
    padding: 0 10%;
    @media @md-mid {
        padding: 0 0;
    }
}

.block-quote--chacaltaya,
.block-quote--phnom-penh {
    padding: 0 10%;
    text-align: right;
    @media @md-mid {
        padding: 0 0;
    }
}