.column {
	position: relative;
	margin: 0 auto;
	max-width: 820px;
	list-style: none;
	text-align: center;
}



/* Common style */
.grid-column {
	float: left;
	margin: 10px 0;
	overflow: hidden;
	padding: 0 5%;
	position: relative;
	width: 100%;

	h3 {
		text-align: left;
	}
	p {
		text-align: justify;
	}

	@media @md-narrow {
		margin: 10px 1%;
		max-width: 95%;
	}

	@media @md-mid {
		margin: 10px 1%;
		width: 48%;
		min-width: 320px;
	}

}
	
.grid-separator--vertical {
	&:after {
		display: none;
		
		@media @md-mid {
			bottom: 40px;
			border-right: 1px solid #d8d8d8;
			content: '';
			display: block;
			left: 50%;
			position: absolute;
			right: 50%;
			top: 40px;
		}
	}
}

.grid-separator--horizontal {
	// background: url('@{img-path}/divider.jpeg') center center red no-repeat;
	// background-size: 300px 300px;
	// content: '';
	display: block;
	height: 30px;
	margin: 20px auto;
	pointer-events: none;
	position: relative;
	text-align: center;
	width: 100%;
}