.comments {
	width: 100%;
	text-align: justify;

	.content-container {
		background: #f7f6f6;
		padding: 30px 5% !important;
		max-width: 750px !important;
		margin-bottom: 0;
	}
	.section-heading,
	.subtext {
		text-align: center;
	}

	.subtext {
		color: #9c9b9b;
	}
}

.comments-chacaltaya {
	background: url('../img/Chacaltaya-glacier-background.jpeg') no-repeat;
	background-size: cover;
}

.comments-yosemite {
	background: url('../img/13.blurred.jpeg') no-repeat;
	background-size: cover;
}

.comments-venezuela {
	background: url('../img/venezuela-mountain-blurred-background.jpeg') no-repeat;
	background-size: cover;
}

.comments-lascaux {
	background: url('../img/19-blurred.jpeg') no-repeat;
	background-size: cover;
}

.comments-venice {
	background: url('../img/20-blurred.jpeg') no-repeat;
	background-size: cover;
}

.comments-nazca {
	background: url('../img/24-blurred.jpeg') no-repeat;
	background-size: cover;
}

.comments-australia {
	background: url('../img/coral-reef-placeholder.jpeg') no-repeat;
	background-size: cover;
}