// End Navigation

.end-navigation {
	margin: 0 auto;
	max-width: 900px;
	width: 90%;
	text-align: justify;

	a {
		text-decoration: none;
	}
}

.back-btn,
.home-btn,
.next-btn{
	display: inline-block;
	vertical-align: bottom;
	width: 30%;

	span {
		display: none;
		font-size: 0.6rem;
		text-decoration: none;

		@media @md-mid {
			display: inline-block;
			line-height: 36px;
			vertical-align: bottom;
		}
	}
}

.back-btn{
	padding: 0  15px;
	text-align: left;
	@media @md-mid {
		width: 40%;
	}

	span {
		@media @md-mid {
			margin: 0 0 0 20px;
		}
	}

	&:before {
		content: url(../img/bck-arrow.png);
		display: inline-block;
		height: 36px;
		padding: 15px 0 0 0;
		width: auto;
	}
}

.home-btn {
	@media @md-mid {
		width: 10%;
	}

	img{
		display: block;
		height: 36px;
		margin: 0 auto;
		width: auto;
	}
}

.next-btn{
	padding: 0 15px;
	text-align: right;
	@media @md-mid {
		width: 40%;
	}

	span {
		@media @md-mid {
			margin: 0 20px 0 0;
		}
	}

	&:after {
		content: url(../img/nxt-arrow.png);
		display: inline-block;
		height: 36px;
		padding: 15px 0 0 0;
		width: auto;
	}
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0
}

.article-end {
	visibility: hidden;
	opacity: 0;
}