.fixedsticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
	position: static;
	background: transparent;
	-moz-transition: all .2.5s ease-in;
	-o-transition: all .2.5s ease-in;
	-webkit-transition: all .2.5s ease-in;
	transition: all .2.5s ease-in;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
	position: fixed;	
	width: 100%;
	z-index: 9999;
	    background: rgba(0,0,0, 0.5);
	height: 70px;
	-moz-transition: all .2.5s ease-in;
	-o-transition: all .2.5s ease-in;
	-webkit-transition: all .2.5s ease-in;
	transition: all .2.5s ease-in;

	.bar {
		-moz-transition: all .2.5s ease-in;
		-o-transition: all .2.5s ease-in;
		-webkit-transition: all .2.5s ease-in;
		transition: all .2.5s ease-in;
	}
}
.fixedsticky-dummy {
	display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
	display: block;
}