.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 1em;
	max-width: 820px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 95%;
	max-height: 400px;
	text-align: center;
	cursor: pointer;

	&:last-child{
		cursor: default;
		position: relative;

		@media @md-mid {
			height: 315px;

			.final-container {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	@media @md-narrow {
		margin: 10px 2.5%;
	}

	@media @md-mid {
		margin: 10px 1%;
		min-width: 320px;
		width: 48%;
	}
}

.grid figure img {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}

.grid figure figcaption {
	padding: 3em 1em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 5;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	font-size: 1.7rem;
	font-weight: 300;
	word-spacing: -0.15em;

	&:last-child{
		color: #000;
		margin-bottom: 15px;
	}
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 12px;
}

/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
	// background: #18a367;
}

figure.effect-layla img {
	// height: 300px;
}

figure.effect-layla figcaption {
	// padding: 3em;
}

figure.effect-layla h2::before,
figure.effect-layla h2::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla h2::before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla h2::after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-right: 3px solid #fff;
	border-left: 3px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding: 20px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	display: none;

	@media @md-narrow {
		display: block;
	}
}

figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla h2::before,
figure.effect-layla h2::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	filter: blur(20px);
	// -webkit-transform: translate3d(0,0,0);
	// transform: translate3d(0,0,0);
}

figure.effect-layla:hover h2::before,
figure.effect-layla:hover h2::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	// -webkit-transform: translate3d(0,0,0);
	// transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.grid figure h2.final-heading {
	color: #000;
	font-weight: bold;
	padding-bottom: 15px;
}

// @media @md-mid {
// 	.content {
// 		padding: 0 10px;
// 		text-align: center;
// 	}
// 	.grid figure {
// 		display: inline-block;
// 		float: none;
// 		margin: 10px auto;
// 		width: 100%;
// 	}
// }