.introduction {
    margin-bottom: 30px;
    .expand-btn {
        color: #7d7d7d;
        font-size: 14px;
        margin-right: 40px;
        position: absolute;
        right: 0;
        text-decoration: none;
        z-index: 2;
        @media @md-mid {
            margin-right: 110px;
        }
    }
}