/*
	Media Object

	* Place any image- and text-like content side-by-side, as per:
	* http://csswizardry.com/2013/05/the-flag-object/
	*
	* +---------+
	* |       	      | ~~~~ ~~~~~~~~~~~
	* |       	      | ~~~~~~~ ~~~~~ ~~
	* |       	      | ~~~~~~~~~~~~
	* +---------+
	*
	* Markup:
	<div class="media">
		<div class="media-img">
			<img src="http://placekitten.com/100/100">
		</div>
		<div class="media-body">
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	========================================================================== */

.media {
    display: table;
    width: 100%;
    .media-img {
        img {
            width: 100%;
        }
    }
}

@media @md-mid {
    .media-img,
    .media-body {
        display: table-cell;
        vertical-align: middle;
        .media--top & {
            vertical-align: top;
        }
        .media--bottom & {
            vertical-align: bottom;
        }
        :last-child {
            margin-bottom: 0;
        }
    }
    .media-body {
        padding: 20px;
        width: 100%;
    }
    .media-img {
        width: 60%;

        img {
            display: block;
            max-width: none;
        }
        .media--rev & {
            padding-right: 0;
            padding-left: 10px;
        }
    }
    .media-img--alt {
        width: 50%;
    }
}

.media-body--chacaltaya {
    @media @md-mid {
        background: url('../img/2.blurred.jpeg') center center no-repeat;
        background-size: cover;
        color: #fff;
    }
}

.media-body--pont-des-arts {
    @media @md-mid {
        background: url('../img/8-blurred.jpeg') center center no-repeat;
        background-size: cover;
        color: #fff;
    }
}

.media-body--venezuela {
    @media @md-mid {
        background: url('../img/15-blurred.jpeg') center center no-repeat;
        background-size: cover;
        color: #fff;
    }
}

.media-body--australia {
    @media @md-mid {
        background: url('../img/25-blurred.jpeg') center center no-repeat;
        background-size: cover;
        color: #fff;
    }
}

.info-intro li img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    @media @md-mid {
        display: block;
        margin: 0 auto;
        padding-bottom: 15px;
        text-align: center;
    }
}

.info-intro li div {
    width: 70%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    border-left: 1px grey solid;
    padding-left: 10px;

    @media @md-mid {
        border: none;
        display: block;
        padding: 0;
        text-align: center;
        width: 100%;
    }
}
