/**
 * Top Nav
 * =================================
	Usage

	 <div class="topnav">
	  <div class="container">
		<div class="logo-nav">
		  <a href="#">
			<span class="icon-builtvisible icon-logo" alt=""></span>
		  </a>
		</div>
		<div class="links">
		<a href="#" id="toggle-menu"><span class="icon-burger icon-menu"></span></a>
		<div id="menu" class="menu">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href=""><span class="icon-social-facebook icon-small"></span></a>
			<a href=""><span class="icon-social-twitter icon-small"></span></a>
			<a target="_blank" href=""><span class="icon-social-linkedin icon-small"></span></a>
		  </div>
		</div>
	  </div>
	</div>
 */

.topnav {
	line-height: 64px;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 9999;
	height: 68px;

	@media @md-mid {
		position: fixed;
	}
}

.active {
	background: rgba(0, 0, 0, 0.5);
	.logo-start {
		@media @md-wide {
			// transition: @default-transition;
			width: 15px;
			height: 15px;
			margin-top: 11px;
		}
	}
	.logo-end {
		@media @md-wide {
			// transition: @default-transition;
			opacity: 1;
		}
	}
}

.topnav .container {
	position: static;
	width: 90%;
	// max-width: 1200px;
	margin: 0 auto
}

#toggle-menu,
.social-link {
	font-size: 2.4rem
}

.logo-nav {
	float: left;
	position: relative;
	top: 10px
}

.staysure-logo img {
	display: block;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 10px;

	@media @md-narrow {
		left: auto;
		right: 15%;
	}

	@media @md-mid {
		left: auto;
		right: 10%;
	}
}

.logo-nav a {
	width: 128px
}

.links {
	float: right;
	margin-top: -15px;
}

.links a {
	display: inline-block;
	text-decoration: none;
}

.links a:hover {
	text-decoration: underline
}

.menu {
	display: none;
	position: absolute;
	top: 103%;
	width: 100%;
	line-height: 1.5;
	right: 0;
	text-align: right;
	li {
		color: #000 !important;
	}
	&.in {
		display: block;
		background: #fff;
		box-shadow: 3px 3px 31px #0d0d0d;
		-moz-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}
}

.social a {
	margin: 10px;
	cursor: pointer;
}

.navigation-menu {
	clear: both;
	display: none;
	margin: 0 auto;
	overflow: visible;
	padding: 0;
	width: 90%;
	z-index: 9999;
}

.navigation-menu li {
	border-bottom: 1px solid #000;
	color: #000;
	display: block;
	line-height: 30px;
	overflow: hidden;
	padding-right: 0.8em;
	text-align: right;
	width: 100%;
	z-index: 9999;
	@media @md-mid {
		line-height: 35px;
	}
	&:last-child {
		border: none;
	}
	a {
		font-size: 0.8rem;
	}
}

#toggle-menu {
	margin: 0;
	position: relative;
}

#nav-select,
.ie10-only {
	display: none
}

@media @md-mid {
	.menu,
	.topnav {
		line-height: 64px
	}
	#toggle-menu {
		// display: none
	}
	.menu {
		position: absolute;
		right: 5%;
		text-align: right;
		width: 250px;
		top: 103%;
		&.in {
			background: #fff;
		}
	}
	.topnav .logo a {
		width: 100%
	}
	.links,
	.links a {
		margin-bottom: 0
	}
	.mobile-social {
		display: none;
	}
}
