footer {
	background: #2f2f2f;
	color: #fff;
	font-size: 12px;
	padding-top: 46px;
	position: relative;

	ul{
		margin: 0 auto;
		text-align: center;
		
		li {
			border-left: 1px #fff solid;
			padding: 0 10px;

			&:nth-child(1) {
				border-left: none;
			}
			
			a {
				text-decoration: underline;
			}
		}
	}

	p {
		text-align: center;
		margin: 0;
		padding: 15px 0;
	}
}