/*
   Icons

   Use by just adding "icon-*name*" to element in addition to a size
   i.e. 
        <div class="icon-social-facebook icon-large"></div>
   ========================================================================== */
[class^="icon-"], [class*=" icon-"] {
    speak: none;
    background-size: contain;
    background-position: center center;
}

.icon-huge {
    display: block;
    width: 240px;
    height: 240px;
}

.icon-title {
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 80%;
    
    @media @md-mid {
        height: 50%;
        width: 50%;
    }
}

.icon-large {
    display: block;
    width: 120px;
    height: 120px;
}

.icon-small {
    display: block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.icon-logo {
    display: block;
    height: 50px;
    vertical-align: middle;
    width: 50px;
}

.icon-burger {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: top;
}

.logo-start{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: top;
}
.logo-end {
    @media @md-wide {
        opacity: 0;
        margin-left: -14px;
    display: inline-block;
    height: 15px;
    width: 300px;
    vertical-align: top;
    }
    }