.masthead {
    width: 100%;
    z-index: 9999;
}

.staysure-logo {
	a,
	img {
		border: none;
	}
}

h1.page-title {
	border: 3px solid #fff;
	color: #fff;
	display: block;
	padding: 20px;
	text-align: center;
	width: 80%;
	left: 0;
	margin: 80px auto 0;
	position: absolute;
	right: 0;

	@media @md-narrow {
		width: 70%;
	}
	@media @md-mid {
		width: 40%;
	}
	@media @md-wide {
		width: 30%;
	}
}

video { 
	display: none;
	@media @md-mid {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: auto; 
		width: 100%;
		z-index: -100;
		// -webkit-transform: translateY(-35%); 
		// transform: translateY(-35%); 
		background: url('../img/snap-shot.png') center center no-repeat;
		background-size: cover;
		transition: 1s opacity;
	}
}

.header-image {
	background: url('../img/snap-shot-mobile.jpeg') center center no-repeat;
	background-size: cover;
	display: block;
	height: 320px;
	position: relative;
	top: 0;
	width: 100%;
	z-index: -1;


	@media @md-mid {
		background: none;
		height: 620px;
		overflow: hidden;
		position: absolute;
	}
}

.header-image--index {
	@media @md-mid {
		background-position: center -80%;
	}
}

.header-image--chacaltaya {
	background: url('../img/01.jpeg') center center no-repeat;
	background-size: cover;
}

.header-image--phnom-penh {
	background: url('../img/phnom-penh-background.jpeg') top center no-repeat;
	background-size: cover;
}

.header-image--pont-des-arts {
	background: url('../img/pont-des-arts-background.jpeg') bottom center no-repeat;
	background-size: cover;
}

.header-image--yosemite {
	background: url('../img/yosemite-background.jpeg') bottom center no-repeat;
	background-size: cover;
}

.header-image--venezuela {
	background: url('../img/venezuela-mountain-background.jpeg') top center no-repeat;
	background-size: cover;
}

.header-image--lascaux {
	background: url('../img/lascaux-background.jpeg') top center no-repeat;
	background-size: cover;
}

.header-image--venice {
	background: url('../img/venice-background.jpeg') bottom center no-repeat;
	background-size: cover;
}

.header-image--nazca {
	background: url('../img/nazca-background.jpeg') center center no-repeat;
	background-size: cover;
}

.header-image--australia {
	background: url('../img/barrier-reef-background.jpeg') bottom center no-repeat;
	background-size: cover;
}