// =================================
// Color palette
// =================================

// Generic colors
@blue		: #194966;
@green 	: #16c98d;
@red		: #fa5e5b;
@yellow 	: #feef6d;
@orange 	: #e67e22;
@pink 		: #ff708e;
@purple 	: #8e44ad;
@gray 		: #95a5a6;

// Color Scheme
@color-primary 	: @blue;
@color-secondary 	: @yellow;
@color-highlight 	: @red;

// Common colors
@color-text                   : #7d7d7d;
@color-bg                     : #f1f1f1;
@color-border                 : #ddd;

// Text Selection
@color-selection              : #fff;
@color-selection-bg           : @color-primary;


// Links
@color-link-default           : #000;
@color-link-visited           : #000;
@color-link-hover             : @color-primary - 20%; //Darkened by 20%
@color-link-active            : @color-primary - 20%; //Darkened by 20%


// <hr> border color
@hr-border                    : #000 + 20%; //Lightened by 20%