/**
 * Global app/site styles
 */

body {
	background-color: @color-bg;
}


/**
 * Default layout container
 */

.l-container {
	// padding-left: #{@layout-margin}px;
	// padding-right: #{@layout-margin}px;
	// max-width: #{@layout-max-width}px;
	width: 100%;
	margin: 0 auto;
	.lt-ie9 & {
		// min-width: #{@layout-min-width}px;
	}
	@media @md-mid {
		max-width: 940px;
	}
}

.content-container {
	max-width: 820px;
	margin: 20px auto;
	padding: 0 5%;
}

.section-heading {
	color: #000;
	text-align: left;
	span {
		color: @color-text;
		display: block;
		font-size: 0.7rem;
		font-weight: normal;
		@media @md-narrow {
			display: inline-block;
			padding-left: 20px;
		}
	}
	span.alt {
		@media @md-narrow {
			display: block;
			padding: 0;
		}
	}
}

.main-body {
	background: #fff;
	.header-caption {
		display: none;
	}
	@media @md-mid {
		position: relative;
		margin-top: 40%;
		padding-top: 15px;
		.header-caption {
			bottom: 100%;
			color: #fff;
			display: block;
			font-size: 0.6rem;
			margin-bottom: 10px;
			position: absolute;
		}
	}
	@media @md-wide {
		margin-top: 30%;
	}
	@media @md-huge {
		margin-top: 20%;
	}
}

.hidden {
	display: none;
}

.expanded {
	display: block;
}

.info-intro {
	background: #f5f3f3;
	max-width: 900px;
	padding: 15px 0;
	// margin-bottom: 15px;
	margin: 15px auto 15px;
	text-align: center;
	h2 {
		color: #000;
		margin-bottom: 10px;
		word-wrap: break-word;
	}
	p {
		text-align: left;
		word-wrap: break-word;
		margin-bottom: 0;
		@media @md-mid {
			margin-bottom: 20px;
			text-align: center;
		}
	}
	li {
		margin-bottom: 10px;
		width: 100%;
	}
	@media @md-mid {
		padding: 15px 0 0;
		li {
			float: none;
			margin-bottom: 0;
			padding: 0 10px;
			width: 30%;
			vertical-align: top;
		}
	}
}

.personal-story-copy {
	&:first-letter {
		color: #000;
		float: left;
		font-size: 300%;
		font-weight: bold;
		line-height: 0.9em;
		margin: 2px;
	}
}

.responsive-image {
	height: auto;
	width: 100%;
}

.article-figure {
	text-align: center;
	margin: 15px auto;
	max-width: 820px;
	padding: 0 5%;
	position: relative;
	img {
		height: auto;
		width: 100%;
	}
	.caption {
		text-align: left;
		font-size: 0.7rem;
		padding-bottom: 15px;
	}
	.content {
		display: block;
		text-align: justify;
		@media @md-mid {
			background: rgba(0, 0, 0, 0.5);
			color: #fff;
			height: 89.5%;
			margin-right: 5.7%;
			padding: 45px;
			position: absolute;
			right: 0;
			top: 0;
			width: 40%;
		}
		@media @md-huge {
			height: 89.4%;
			margin-right: 5.8%;
		}
	}
}

.caption {
	text-align: left;
	font-size: 0.7rem;
	padding-bottom: 15px;
}

.sidebar {
	display: none !important;
	@media @md-mid {
		display: block !important;
		position: fixed;
		right: 0;
		top: 25%;
		z-index: 170;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
